* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  background: #fafafd;
}

h1,
h2,
h3,
h4,
span,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "ArialMT", "Yu Gothic Medium", "游ゴシック Medium", "YuGo-Medium",
    "游ゴシック体 Medium", "sans-serif", "Noto Sans CJK JP";
  color: "#000000DE";
  -webkit-text-size-adjust: 89%;
  background: "#EBF0F9";
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1079px) {
  table {
    table-layout: auto !important;
  }
}
